
body {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 1.5rem;
    margin-top: 2%;
}
p {
    color: #8f8f8f;
}


/* headings */
.big-heading {
    line-height: 1.5;
    font-size: 3rem;
    color: white;
}
.section-heading {
    font-size: 2.5rem;
    line-height: 1.5;
}

/* navigation bar */
a.navbar-brand {
    color: white;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}

a.nav-link {
        font-family: 'Ubuntu', sans-serif;
        color: gainsboro;    
}

/* buttons */
button.btn-dark {
    margin-right: 2%;
    font-family: 'Ubuntu', sans-serif;
    
}

button.btn-outline-light {
    font-family: 'Ubuntu', sans-serif;
}

/* icons */
i.icon {
    color: #ef8172;
}

i.icon:hover {
    color: #ff4c68;
}

/* container section */
.container-fluid {
    padding: 7% 15%;
}

/* color section */
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section {
    background-color: white;
}

/* title section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

#title-div {
    margin-top: 7%;

}

img.rotated {
    transform: rotate(25deg);
    right: 30%;
    padding-top: 3%;
    position: absolute;
    right: 20%;
    width: 300px;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    img.rotated {
        transform: rotate(0);
        position: static;
        width: 60%;
    }
}


/* testimonials sections */
#testimonials {
    background-color: #ef8172;
    font-family: 'Montserrat', sans-serif;
}
.testimonial-image{
    margin: 20px;
    border-radius: 100%;
    width: 10%;
}
.testimonial-text {
    font-size: 2.5rem;
    line-height: 1,5;
}

/* press section */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    font-family: 'Ubuntu', sans-serif;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
/* pricing section */

#pricing {
    padding: 50px 100px;
    font-family: 'Ubuntu', sans-serif;
}

.pricing-column {
    padding: 3% 2%;
    font-family: 'Ubuntu', sans-serif;
}

.pricing-text {
    font-size: 2.5rem;
    line-height: 1.5;
}

/* features section */
#features {
    line-height: 1.5;
    position: relative;
    z-index: 1;
    font-family: 'Ubuntu', sans-serif;
}
.feature-title {
    font-size: 1.5rem;
}

/* cta section */
section#cta {
    font-family: 'Montserrat', sans-serif;
}
/* h3.bi-heading {
    font-size: 3rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
} */
button.btn-lg {
    font-family: 'Ubuntu', sans-serif;
    margin: 3% 2% 0 0;


}

/* footer section */
footer#footer {
    font-family: 'Ubuntu', sans-serif;
}
.p-footer {
    color: #8f8f8f;
    font-size: large;
}

.socials {
    margin: 0 10px;
}